/* You can add global styles to this file, and also import other style files */
.small-flag {
  width: 60px;
  border-radius: 5px;
}

.medium-flag {
  width: 150px;
  border-radius: 5px;
}

.mr-1 {
  margin-right: 5px;
}
